/* Start Switch Auth Components */
.auth_switch
{
    font-size: 14px;
    font-weight: 400;
    color: #8A7D61;
}
.auth_switch a
{
    text-decoration: none;
    color: #d4a746;
}
/* End Switch Auth Components */