/* Start Switch Auth Components */
.auth_switch h2
{
    font-size: 14px;
    font-weight: 400;
    color: #5F5345;
}
.auth_switch a
{
    text-decoration: underline;
    color: #685117;
}
/* End Switch Auth Components */