/* Start Footer Components */
footer
{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    border-top: solid 1px #E5E8EB;
    padding: 32px 0;
    margin: auto;
}
footer ul
{
    display: flex;
    gap: 40px;
    list-style-type: none;
}
footer ul li
{
    font-size: 16px;
    font-weight: 400;
    color: #62522D;
    cursor: pointer;
}
footer .socials
{
    display: flex;
    gap: 24px;
}
footer .socials span
{
    cursor: pointer;
} 
footer h3
{
    font-size: 16px;
    font-weight: 400;
    color: #62522D;
    text-align: center;
}
/* End Footer Components */



/* Start Media Query */
/* Extra small devices (phones, portrait) */
@media (max-width: 575.98px) 
{
    footer
    {
        width: 85%;
    }
    footer ul
    {
        flex-direction: column;
        text-align: center;
    }
    footer .socials
    {
        gap: 32px;
    }
}
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) 
{

}
/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) 
{

}
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) 
{

}
/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) 
{

}
/* End Media Query */