/* Start Home Section Components */
.home_section
{
    display: flex;
    flex-direction: column;
    gap: 24px;
    color: #1C170D;
}
.home_section .title h2
{
    font-size: 22px;
    font-weight: 700;
}
/* End Home Section Components */