/* Start NavBar Components */
nav
{
    width: 100%;
    height: 65px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
    padding: 0 32px;
    border-bottom: solid 1px #E5E8EB;
    position: relative;
}
.nav_part
{
    display: flex;
    align-items: center;
    gap: 32px;
}
.nav_part:last-child
{
    width: 100%;
    justify-content: space-between;
}
nav .nav_part_2
{
    display: flex;
    align-items: center;
    gap: 32px;
}
nav .logo
{
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;
}
nav .menu
{
    display: flex;
    list-style-type: none;
    gap: 24px;
}
nav .menu_btns
{
    display: none;
    flex-direction: column;
    gap: 4px;
    position: absolute;
    top: 50%;
    right: 32px;
    transform: translateY(-50%);
}
nav .menu_btns span
{
    width: 24px;
    height: 4px;
    background-color: #62522D;
    border-radius: 8px;
}
nav .menu li
{
    font-size: 16px;
    font-weight: 500;
}
nav .dropdown_menu
{
    width: 100%;
    position: absolute;
    top: calc(100% + 1px);
    left: 0;
    z-index: 10000;
    padding: 0 32px;
    background-color: #FCFAF7;
}
nav .dropdown_menu ul
{
    width: 100%;
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(8,1fr);
    justify-items: start;
    gap: 32px;
    padding: 24px 0;
}
nav li
{
    transition: 0.3s;
    cursor: pointer;
}
nav li a
{
    color: black;
    text-decoration: none;
    transition: 0.3s;
}
nav li:hover
{
    color: #62522D;
}
nav li a:hover
{
    color: #62522D;
}
nav .search
{
    display: flex;
    position: relative;
}
nav .search input
{
    width: 160px;
    height: 40px;
    background-color: #F5F0E5;
    border: none;
    border-radius: 8px;
    padding: 0 8px 0 40px;
    font-size: 16px;
    font-weight: 500;
    transition: 0.5s;
}
nav .search input:focus
{
    outline: none;
    width: 400px;
}
nav .search input::placeholder
{
    color: #62522D;
}
nav .search img
{
    position: absolute;
    top: 50%;
    left: 8px;
    transform: translateY(-50%);
    filter: brightness(0) saturate(100%) invert(57%) sepia(6%) saturate(3223%) hue-rotate(5deg) brightness(94%) contrast(82%);
    cursor: pointer;
}
nav .options
{
    display: flex;
    gap: 16px;
    position: relative;
}
nav .options a,.icon
{
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F5F0E5;
    border-radius: 8px;
    padding: 8px;
    cursor: pointer;
    position: relative;
}
nav .options a span
{
    position: absolute;
    right: -40%;
    bottom: -40%;
    transform: translate(-50%,-50%);
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: red;
    border-radius: 4px;
    font-size: 12px;
    color: white;
}
nav .options .auth_options
{
    position: absolute;
    z-index: 999999999;
    top: calc(100% + 12px);
    right: 0;
    width: fit-content;
    background-color: #F5F0E5;
    border-radius: 8px;
}
nav .options .auth_options a
{
    width: 100%;
    color: black;
    text-decoration: none;
}
/* End NavBar Components */



/* Start Media Query */
/* Extra small devices (phones, portrait) */
@media (max-width: 575.98px) 
{
    .nav_part:last-child
    {
        height: calc(100vh - 65px);
        background-color: #FCFAF7;
        position: absolute;
        left: 0;
        top: 100%;
        z-index: 9999;
        flex-direction: column;
        justify-content: start;
        gap: 20%;
    }
    nav .menu_btns
    {
        display: flex;
    }
    nav .menu
    {
        width: 100%;
        flex-direction: column;
        gap: 32px;
        padding-top: 24px;
    }
    nav .menu li
    {
        width: 100%;
        text-align: start;
    }
    nav .dropdown_menu
    {
        width: 100%;
        height: calc(100vh - 65px);
        position: absolute;
        bottom: 0;
        left: 0;
        background-color: #FCFAF7;
    }    
    nav .dropdown_menu ul
    {
        width: 100%;
        list-style-type: none;
        display: flex;
        flex-direction: column;
        justify-items: start;
        gap: 32px;
        padding:0;
        padding-top: 24px;
    }
    .nav_part_2
    {
        width: 100%;
        flex-direction: column;
    }
    nav .search
    {
        width: 100%;
    }
    nav .search input
    {
        width: 100%;
    }
    nav .search input:focus
    {
        width: 100%;
    }
}
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 799.98px) 
{
    .nav_part:last-child
    {
        height: calc(100vh - 65px);
        background-color: #FCFAF7;
        position: absolute;
        left: 0;
        top: 100%;
        z-index: 9999;
        flex-direction: column;
        justify-content: start;
        gap: 20%;
    }
    nav .menu_btns
    {
        display: flex;
    }
    nav .menu
    {
        width: 100%;
        flex-direction: column;
        gap: 32px;
        padding-top: 24px;
    }
    nav .menu li
    {
        width: 100%;
        text-align: start;
    }
    nav .dropdown_menu
    {
        width: 100%;
        height: calc(100vh - 65px);
        position: absolute;
        bottom: 0;
        left: 0;
        background-color: #FCFAF7;
    }    
    nav .dropdown_menu ul
    {
        width: 100%;
        list-style-type: none;
        display: grid;
        grid-template-columns: repeat(2,1fr);
        justify-items: start;
        gap: 32px;
        padding:0;
        padding-top: 24px;
    }
    .nav_part_2
    {
        width: 100%;
        flex-direction: column;
    }
    nav .search
    {
        width: 100%;
    }
    nav .search input
    {
        width: 100%;
    }
    nav .search input:focus
    {
        width: 100%;
    }
}
/* Medium devices (tablets, 768px and up) */
@media (min-width: 800px) and (max-width: 919.98px) 
{
    nav .search
    {
        width: 100%;
    }
    nav .search input
    {
        width: 100%;
    }
    nav .search input:focus
    {
        width: 100%;
    }
}
/* Large devices (desktops, 992px and up) */
@media (min-width: 920px) and (max-width: 1199.98px) 
{
    nav .search input:focus
    {
        width: 200px;
    }
}
/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) 
{

}
/* End Media Query */