/* Start Slider Component */
.slider
{
    width: 100%;
    overflow: hidden;
    border-radius: 4px;
}
.slide_bar
{
    width: 100%;
    display: flex;
    animation-name: sliderAnimation;
    animation-duration: 15s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}
.slider .slide
{
    min-width: 100%;
    aspect-ratio: 16 / 9;
    border-radius: 4px;
    overflow: hidden;
}
.slider .slide img
{
    width: 100%;
    object-fit: cover;
}
/* End Slider Component */



/* Animation */
@keyframes sliderAnimation {
    0% {
        transform: translateX(0);
    }
    20% {
        transform: translateX(0);
    }
    30% {
        transform: translateX(-100%);
    }
    50% {
        transform: translateX(-100%);
    }
    60% {
        transform: translateX(-200%);
    }
    80% {
        transform: translateX(-200%);
    }
    100% {
        transform: translateX(0);
    }
}