/* Start Checkout Page */
.checkout {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 40px;
}
.checkout h1 {
  font-size: 32px;
  font-weight: 700;
  line-height: 40px;
  color: #1c170d;
}
.checkout h2 {
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  color: #1c170d;
}
.delivery {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.inputs_row {
  width: 50%;
  display: flex;
  gap: 16px;
}
.paymentMethod {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.paymentMethod .inputs_row {
  width: 100%;
  border: solid 1px #ebe0cc;
  border-radius: 8px;
  padding: 0 16px;
  cursor: pointer;
}
.paymentMethod .inputs_row label {
  width: 100%;
  padding: 16px 16px 16px 0;
  cursor: pointer;
}
.checkout h3 {
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  color: #62522d;
}
.checkout h3 span {
  color: #1c170d;
}
.checkout button {
  width: 40%;
  background-color: #c78f00;
  border: none;
  border-radius: 8px;
  padding: 12px 20px;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  cursor: pointer;
}
/* End Checkout Page */

/* Start Media Query */
/* Extra small devices (phones, portrait) */
@media (max-width: 575.98px) {
  .checkout .inputs_row {
    width: 100%;
    flex-direction: column;
  }
  .paymentMethod .inputs_row {
    flex-direction: row;
  }
  .checkout button {
    width: 100%;
  }
}
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
  .checkout .inputs_row {
    width: 75%;
  }
}
/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
  .checkout .inputs_row {
    width: 65%;
  }
}
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
}
/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}
/* End Media Query */
