/* Start Drop Text element Components */
.drop_text
{
    display: flex;
    flex-direction: column;
    gap: 8px;
    border: solid 1px #E5E3DB;
    border-radius: 12px;
    padding: 16px;
    cursor: pointer;
    overflow: hidden;
    transition: max-height 0.5s ease;
}
.drop_text h3
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
    font-weight: 600;
    line-height: 21px;
    color: #1C170D;
}
.drop_text h3 span img
{
    transition: transform 0.5s ease;
}
.drop_text.opened h3 span img 
{
    transform: rotate(180deg);
}
.drop_text p
{
    font-size: 16px;
    font-weight: 400;
    line-height: 21px;
    color: #62522D;
}
/* End Drop Text element Components */