/* Start Message Pop Components */
.message_pop{
    min-width: 160px;
    display: flex;
    align-items: center;
    gap: 8px;
    background-color: #F5F0E5;
    border-radius: 4px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.08);
    padding: 4px 8px;
    animation: MessageAnimation 0.3s ease-out, MessageHide 0.3s ease-out 2.5s forwards;
    opacity: 1;
    transform: translateX(0);
    transition: 0.3s;
}
.message_pop.success{
    border-left: 6px solid #22c55e;
}
.message_pop.faild{
    border-left: 6px solid #ef4444;
}
/* End Message Pop Components */



/* Animation */
@keyframes MessageAnimation {
    from {
        opacity: 0;
        transform: translateX(-100%);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes MessageHide {
    to {
        opacity: 0;
        transform: translateX(-100%);
    }
}