/* Start Teaxt Area Input element Components */
.text_area_input_element {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 8px;
  position: relative;
}
.text_area_input_element label {
  font-size: 16px;
  font-weight: 500;
}
.text_area_input_element textarea {
  width: 100%;
  height: 160px;
  background-color: #f2f0e8;
  border: solid 1px #e3e3de;
  border-radius: 12px;
  padding: 16px;
  font-size: 16px;
  font-weight: 400;
  resize: none;
}
.text_area_input_element textarea::placeholder {
  color: #62522d;
}
.text_area_input_element textarea:focus {
  outline: none;
}
.text_area_input_element p {
  position: absolute;
  top: 100%;
  font-size: 12px;
  font-weight: 500;
  color: red;
}
/* End Teaxt Area Input element Components */
