/* Start Upload Photos component */
.upload_images
{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 24px;
    border: dashed 2px #E8E0CF;
    border-radius: 12px;
    padding: 32px;
    text-align: center;
}
.upload_images p.title
{
    font-size: 18px;
    font-weight: 700;
    line-height: 23px;
    color: #1C170D;
}
.upload_images p
{
    width: 50%;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    color: #1C170D;
}
.upload_images label
{
    width: fit-content;
    background-color: #F2F0E8;
    border: none;
    border-radius: 20px;
    padding: 10px 16px;
    font-size: 14px;
    font-weight: 700;
    line-height: 21px;
    color: #1C170D;
    cursor: pointer;
}
.upload_images .uploaded_images
{
    width: 100%;
    display: grid;
    gap: 32px;
}
.upload_images .uploaded_images .product_photo
{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
}
.upload_images .uploaded_images .product_photo > img
{
    width: 100%;
    height: auto;
    max-height: 240px;
    object-fit: contain; 
}
.upload_images .uploaded_images .product_photo span
{
    position: absolute;
    top: 0;
    right: 0;
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #EDB026;
    border-radius: 24px;
    cursor: pointer;
}
/* End Upload Photos component */