/* Start Welcome Page */
.auth_welcome
{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}
.auth_welcome h1
{
    font-size: 28px;
    font-weight: 700;
}
.auth_welcome h2
{
    font-size: 16px;
    font-weight: 400;
}
.welcome_btns
{
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin: auto;
}
.welcome_btns button
{
    border: none;
    border-radius: 50px;
    padding: 20px;
    font-size: 16px;
    font-weight: 700;
    color: #171412;
    cursor: pointer;
}
.welcome_btns button:first-of-type
{
    background-color: #EDB026;
}
.welcome_btns button:last-of-type
{
    background-color: #ebc97b;
}
/* End Welcome Page */



/* Start Media Query */
/* Extra small devices (phones, portrait) */
@media (max-width: 575.98px) 
{
    .welcome_btns
    {
        width: 100%;
    }
}
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) 
{
    .welcome_btns
    {
        width: 75%;
    }
}
/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) 
{
    .welcome_btns
    {
        width: 65%;
    }
}
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) 
{
    .welcome_btns
    {
        width: 55%;
    }
}
/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) 
{

}
/* End Media Query */