/* Start Input element Components */
.input_element
{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 8px;
    position: relative;
}
.input_element label
{
    font-size: 16px;
    font-weight: 500;
}
.input_element input
{
    width: 100%;
    background-color: #F5F0E5;
    border: none;
    border-radius: 12px;
    padding: 16px;
    font-size: 16px;
    font-weight: 400;
}
.input_element input::placeholder
{
    color: #A18745;
}
.input_element p
{
    position: absolute;
    top: 100%;
    font-size: 12px;
    font-weight: 500;
    color: red;
}
/* End Input element Components */



/* Start Media Query */
/* Extra small devices (phones, portrait) */
@media (max-width: 575.98px) 
{
    .input_element
    {
        width: 100%;
    }
}
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) 
{
    .input_element
    {
        width: 75%;
    }
}
/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) 
{
    .input_element
    {
        width: 65%;
    }
}
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) 
{

}
/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) 
{

}
/* End Media Query */