/* Start Teaxt Area Input element Components */
.text_area_input_element
{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.text_area_input_element label
{
    font-size: 16px;
    font-weight: 500;
}
.text_area_input_element textarea
{
    width: 100%;
    height: 160px;
    background-color: #F2F0E8;
    border: solid 1px #E3E3DE;
    border-radius: 12px;
    padding: 16px;
    font-size: 16px;
    font-weight: 400;
    resize: none;
}
.text_area_input_element textarea::placeholder
{
    color: #A18745;
}
.text_area_input_element textarea:focus
{
    outline: none;
}
/* End Teaxt Area Input element Components */