/* Start Add Product Page */
.add_product
{
    display: flex;
    flex-direction: column;
    gap: 32px;
}
.add_product > h2
{
    font-size: 22px;
    font-weight: 700;
    line-height: 28px;
    color: #1C170D;
}
.add_product section
{
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.add_product .inputs_row
{
    display: flex;
    gap: 24px;
}
.add_product span
{
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    color: #99824D;
}
.add_product p
{
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #1C170D;
}
.add_product button
{
    width: fit-content;
    background-color: #F2F0E8;
    border: none;
    border-radius: 20px;
    padding: 10px 16px;
    font-size: 14px;
    font-weight: 700;
    line-height: 21px;
    color: #1C170D;
    cursor: pointer;
}
.add_product h4
{
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #1C170D;
}
.add_product .product_btns
{
    display: flex;
    justify-content: end;
    gap: 12px;
}
.add_product .product_btns button:last-of-type
{
    background-color: #EDB026;
}
/* End Add Product Page */