/* Start Analytics Page */
.analytics
{
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.analytics section
{
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.analytics section .date_filter
{
    width: 100%;
    height: 40px;
    display: flex;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    align-items: center;
    background-color: #F2F0E8;
    border-radius: 8px;
    padding: 4px;
    position: relative;
    text-align: center;
}
.analytics section .date_filter h2
{
    position: relative;
    z-index: 2;
    padding: 8px;
    font-size: 14px;
    font-weight: 600;
    line-height: 21px;
    color: #5B4D39;
    transition: 0.5s;
    cursor: pointer;
}
.analytics section .date_filter h2.selected
{
    color: #1A170F;
}
.analytics section .date_filter div
{
    position: absolute;
    top: 4px;
    left: 25%;
    z-index: 1;
    width: 25%;
    height: 32px;
    background-color: #FAFAFA;
    border-radius: 8px;
    transition: 0.5s;
}
.analytics .cards
{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 16px;
}
.analytics .cards .card
{
    display: flex;
    flex-direction: column;
    gap: 8px;
    border: solid 1px #E3DED4;
    border-radius: 12px;
    padding: 24px;
}
.analytics .cards .card h3
{
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    color: #1A170F;
}
.analytics .cards .card h4
{
    font-size: 32px;
    font-weight: 700;
    line-height: 40px;
    color: #1A170F;
}
.analytics .cards .card h5
{
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #61523D;
}
.analytics .cards .card h5 span
{
    color: #085E09;
}
.analytics table 
{
    border-collapse: collapse;
    width: 100%;
}
.analytics table tr td
{
    color: #65532F;
}
.analytics table tr td:first-of-type
{
    color: #1C170D;
}
.analytics table th,
.analytics table td 
{
    max-width: 150px;
    border: 1px solid #E8E0CF;
    border-left: none;
    border-right: none;
    padding: 16px;
    text-align: start;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis; 
}
/* Start Analytics Page */