/* Start Orders Page */
.orders {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.orders .dashboard_header {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.orders .dashboard_header h1 {
  font-size: 32px;
  font-weight: 700;
  line-height: 40px;
  color: #1c170d;
}
.orders .dashboard_header p {
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  color: #99854d;
}
.orders .orders_filter {
  display: flex;
  gap: 16px;
}
.orders .orders_filter button {
  width: fit-content;
  background-color: #f2f0e8;
  border: none;
  border-radius: 20px;
  padding: 10px 16px;
  font-size: 14px;
  font-weight: 600;
  line-height: 21px;
  color: #1c170d;
  cursor: pointer;
}
.orders .search_element {
  position: relative;
}

.orders .search_element {
  display: flex;
  position: relative;
}
.orders .search_element input {
  width: 100%;
  background-color: #f5f0e5;
  border: none;
  border-radius: 8px;
  padding: 16px 16px 16px 56px;
  font-size: 16px;
  font-weight: 500;
  transition: 0.5s;
}
.orders .search_element input:focus {
  outline: none;
}
.orders .search_element input::placeholder {
  color: #62522d;
}
.orders .search_element img {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
}
.orders table {
  border-collapse: collapse;
  width: 100%;
}
.orders table tr td {
  color: #99854d;
}
.orders table tr td:nth-of-type(1) {
  color: #1c170d;
}
.orders table tr td div {
  width: 75%;
  background-color: #f2f0e8;
  border-radius: 20px;
  padding: 10px 16px;
  font-size: 14px;
  font-weight: 600;
  line-height: 21px;
  color: #1c170d;
  text-align: center;
}
.orders table th,
.orders table td {
  max-width: 150px;
  border: 1px solid #e8e0cf;
  border-left: none;
  border-right: none;
  padding: 16px;
  text-align: start;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
/* End Orders Page */

/* Start Media Query */
/* Extra small devices (phones, portrait) */
@media (max-width: 575.98px) {
}
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
}
/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
}
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
}
/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}
/* End Media Query */
