/* Start Setting Page */
.setting
{
    display: flex;
    flex-direction: column;
    gap: 32px;
}
.setting .upload_images
{
    width: 100%;
    height: 184px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;
    border: dashed 2px #E8E0CF;
    border-radius: 12px;
    text-align: center;
}
.setting .upload_images h2
{
    font-size: 18px;
    font-weight: 700;
    line-height: 23px;
    color: #1C170D;
}
.setting .upload_images p
{
    width: 50%;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    color: #1C170D;
}
.setting .upload_images .uploaded_images
{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    gap: 32px;
    padding: 32px;
}
.setting .upload_images .uploaded_images .product_photo
{
    width: 100%;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
}
.setting .upload_images .uploaded_images .product_photo > img
{
    height: 120px;
}

.setting .upload_images .uploaded_images .product_photo span
{
    position: absolute;
    top: 0;
    right: 0;
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #EDB026;
    border-radius: 24px;
    cursor: pointer;
}
.setting section
{
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.setting .inputs_row
{
    display: flex;
    gap: 24px;
}
.setting span
{
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    color: #99824D;
}
.setting p
{
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #1C170D;
}
.setting h4
{
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #1C170D;
}
.setting .setting_btn
{
    display: flex;
    justify-content: end;
    gap: 12px;
}
.setting .setting_btn button
{
    width: fit-content;
    background-color: #F2F0E8;
    border: none;
    border-radius: 20px;
    padding: 10px 16px;
    font-size: 14px;
    font-weight: 700;
    line-height: 21px;
    color: #1C170D;
    cursor: pointer;
}
/* End Setting Page */