/* Start Product Page */
.product {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.product .product_data {
  display: flex;
  flex-direction: column;
}
.product .product_data h3 {
  display: flex;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 32px;
  color: black;
}
.product .product_data h3 span {
  padding: 0 8px;
}
.product .product_data h3 div {
  color: #62522d;
}
.product .product_data h2 {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 8px;
}
.product .product_data h4 {
  font-size: 14px;
  font-weight: 400;
  color: #62522d;
}
.product .product_item {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
}
.product_item_photos {
  width: 100%;
  display: flex;
  gap: 24px;
}
.product_item_photos .product_photos {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.product_item_photos .product_photos span {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  cursor: pointer;
}
.product_item_photos .product_photos span img {
  height: 40px;
}
.product_item_photos .preview {
  width: 100%;
  height: 500px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;
  cursor: zoom-in;
}
.product_item_photos .preview .zoom {
  width: 100px;
  height: 100px;
  background-size: 1000%;
  position: absolute;
  border-radius: 4px;
  pointer-events: none;
}
.product .product_item .product_details {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 8px;
  color: #1c170d;
}
.product .product_item .product_details h2 {
  font-size: 18px;
  font-weight: 700;
}
.product .product_item .product_details p {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}
.product .product_item .product_details h3 {
  display: flex;
  align-items: end;
  gap: 16px;
  font-size: 24px;
  font-weight: 700;
}
.product .product_item .product_details h3 span:first-of-type {
  text-decoration: line-through;
  font-size: 20px;
  font-weight: 600;
  opacity: 0.5;
}
.product .product_item .product_details h3 span:last-of-type {
  font-size: 16px;
  color: #62522d;
}
.product .product_item .product_details .product_btns {
  display: flex;
  gap: 16px;
  margin-top: 32px;
}
.product .product_item .product_details .product_btns button {
  border: none;
  border-radius: 8px;
  padding: 16px;
  font-size: 14px;
  font-weight: 700;
  color: #1c170d;
  cursor: pointer;
}
.product .product_item .product_details .product_btns button:first-child {
  background-color: #c78f00;
}
.product .product_item .product_details .product_btns button:last-child {
  background-color: #f5f0e5;
}
.product .product_item .product_details button {
  background-color: transparent;
  border: none;
  border-radius: 8px;
  padding: 16px;
  font-size: 14px;
  font-weight: 700;
  color: #1c170d;
  cursor: pointer;
}
.product_review {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 24px;
  border-top: solid 1px #e5e8eb;
  padding-top: 24px;
}
.product_review .customers_reviews {
  display: flex;
  flex-direction: column;
  gap: 36px;
}
.product_review .customers_reviews .add_review {
  width: 95%;
  display: flex;
  align-items: end;
  gap: 24px;
}
.product_review .customers_reviews .add_review textarea {
  height: 80px;
}
.product_review .customers_reviews .add_review button {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f5f0e5;
  border: none;
  border-radius: 8px;
  padding: 8px;
  cursor: pointer;
}
.product_review .customers_reviews .review {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.product_review .customers_reviews .review .user_review {
  display: flex;
  align-items: center;
  gap: 16px;
}
.product_review .customers_reviews .review .user_review .userPhoto {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 40px;
  overflow: hidden;
  background-color: #f2f0e8;
}
.product_review .customers_reviews .review .user_review .userPhoto img {
  height: 40px;
}
.product_review .customers_reviews .review .user_review .user_review_data h3 {
  font-size: 16px;
  font-weight: 500;
}
.product_review .customers_reviews .review .user_review .user_review_data h5 {
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  color: #62522d;
}
.product_review .customers_reviews .review .user_star_rate {
  display: flex;
  gap: 4px;
}
.product_review .customers_reviews .review .user_star_rate img {
  width: 20px;
}
.product_review .customers_reviews .review p {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}
.product_review .customers_reviews .review .review_btns {
  display: flex;
  gap: 40px;
}
.product_review .customers_reviews .review .review_btns button {
  display: flex;
  align-items: center;
  gap: 8px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.product_review .customers_reviews .review .review_btns button img {
  width: 24px;
}
.product_review .customers_reviews .review .review_btns button span {
  font-size: 16px;
  font-weight: 400;
  color: #62522d;
}
.product_review .customers_rates .over_rate {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 24px;
}
.product_review .customers_rates .over_rate h2 {
  font-size: 36px;
  font-weight: 900;
  color: #1c170d;
}
.product_review .customers_rates .over_rate_stars {
  display: flex;
  gap: 8px;
}
.product_review .customers_rates .over_rate img {
  width: 24px;
}
.product_review .customers_rates .over_rate h3 {
  font-size: 18px;
  font-weight: 400;
  color: #1c170d;
}
.product_review .all_rate {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 24px;
}
.product_review .all_rate .star_rate {
  display: flex;
  gap: 16px;
  align-items: center;
}
.product_review .all_rate .star_rate .rate_bar {
  width: 100%;
  height: 8px;
  border-radius: 8px;
  background-color: #ebe0cc;
  position: relative;
}
.product_review .all_rate .star_rate .rate_bar span {
  position: absolute;
  left: 0;
  top: 0;
  height: 8px;
  border-radius: 8px;
  background-color: #c78f00;
}
/* End Product Page */
