/* Start Review Adding Components */
.add_review {
    width: 95%;
    display: flex;
    align-items: end;
    gap: 24px;
}
.add_review .review
{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.add_review .stars_rate{
    display: flex;
    gap: 8px;
    position: relative;
}
.add_review .stars_rate img{
    width: 20px;
    cursor: pointer;
}
.add_review textarea {
    height: 80px;
}
.add_review button {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f5f0e5;
    border: none;
    border-radius: 8px;
    padding: 8px;
    cursor: pointer;
}
.loading_spinner {
    animation: spin 1s linear infinite;
}
@keyframes spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}
/* End Review Adding Components */